[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"

[packages]
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
jwt = "*"
xlwt = "*"
geojson_utils = "*"

[pipenv]
allow_prereleases = true
